<h1>User Signup</h1>

<h2>Sign Up</h2>
<form action="/signup" method="POST">
    <p>Username: <input type="text" name="username"></p>
    <p>Password: <input type="text" name="password"></p>
    <input type="submit" value="Create User">
</form>
