<br>
<br>
<% @pantries.each do |pantry| %>
  <a href="pantries/<%= pantry.id %>"><%= pantry.name %></a>
  <br>
  <%= pantry.nationality %>
  <br>
  <a href="/pantries/<%=pantry.id%>/edit">Edit</a>
  <br>
  <br>
<% end %>
