<form method="POST" action="/pantries">
    <br>
    <label>Name</label>
    <input type="text" name="name">
    <label>Nationality of Foods</label>
    <input type="text" name="nationality">
    <input type="submit" value="Create New Pantry">
</form>